In [100]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler, Binarizer

In [101]:
# Data
age_list = [18, 25, 26, 33, 37, 42, 47, 55, 60, 80]
income_list = [28000, 34000, 39000, 41000, 47000, 55000, 67000, 80000, 90000, 200000]
df = pd.DataFrame(data={'Age':age_list, 'Income':income_list})
df2, df3 = df.copy(), df.copy()

# Scalers
s_scaler = StandardScaler() # -> Mean=0, Std=1 (normal distribution) 
mm_scaler = MinMaxScaler() # -> default 'feature_range' = (0,1) -> Min=0 (=lowest value), Max=1 (=highest value)
mm1_scaler = MinMaxScaler(feature_range=(-1,1)) # -> Min, Max decided by parameter 'feature_range'
mm2_scaler = MinMaxScaler(feature_range=(0,2)) # -> Min, Max decided by parameter 'feature_range'
b_scaler = Binarizer() # -> Min=0, Max=1 (all quantiles will be either 0 or 1), parameter 'threshold': value<=threshold -> 0, value>threshold -> 1

# Scalers for age
col = 'Age'
df['std'] = s_scaler.fit_transform(df.loc[:,[col]])
df['mm(0,1)'] = mm_scaler.fit_transform(df.loc[:,[col]])
df['mm(-1,1)'] = mm1_scaler.fit_transform(df.loc[:,[col]])
df['mm(0,2)'] = mm2_scaler.fit_transform(df.loc[:,[col]])
df['bin'] = b_scaler.fit_transform(df.loc[:,[col]])

df['std(mm)'] = s_scaler.fit_transform(mm_scaler.fit_transform(df.loc[:,[col]]))
df['std(mm1)'] = s_scaler.fit_transform(mm1_scaler.fit_transform(df.loc[:,[col]]))
df['std(mm2)'] = s_scaler.fit_transform(mm2_scaler.fit_transform(df.loc[:,[col]]))
df['mm(std)'] = mm_scaler.fit_transform(s_scaler.fit_transform(df.loc[:,[col]]))
df['mm1(std)'] = mm1_scaler.fit_transform(s_scaler.fit_transform(df.loc[:,[col]]))
df['mm2(std)'] = mm2_scaler.fit_transform(s_scaler.fit_transform(df.loc[:,[col]]))
df['bin(std)'] = b_scaler.fit_transform(s_scaler.fit_transform(df.loc[:,[col]]))
df['bin(mm)'] = b_scaler.fit_transform(mm_scaler.fit_transform(df.loc[:,[col]]))
df['bin(mm1)'] = b_scaler.fit_transform(mm1_scaler.fit_transform(df.loc[:,[col]]))
df['bin(mm2)'] = b_scaler.fit_transform(mm2_scaler.fit_transform(df.loc[:,[col]]))
df['std(bin)'] = s_scaler.fit_transform(b_scaler.fit_transform(df.loc[:,[col]]))
df['mm(bin)'] = mm_scaler.fit_transform(b_scaler.fit_transform(df.loc[:,[col]]))
df['mm1(bin)'] = mm1_scaler.fit_transform(b_scaler.fit_transform(df.loc[:,[col]]))

# Show statistics
df.describe()

,Age,Income,std,"mm(0,1)","mm(-1,1)","mm(0,2)",bin,std(mm),std(mm1),std(mm2),mm(std),mm1(std),mm2(std),bin(std),bin(mm),bin(mm1),bin(mm2),std(bin),mm(bin),mm1(bin)
count,10.000000,10.000000,1.000000e+01,10.000000,10.000000,10.000000,10.0,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.0,10.0,10.0
mean,42.300000,68100.000000,1.776357e-16,0.391935,-0.216129,0.783871,1.0,0.000000,0.000000,0.000000,0.391935,-0.216129,0.783871,0.400000,0.900000,0.300000,0.900000,0.0,0.0,-1.0
std,18.821087,50540.302949,1.054093e+00,0.303566,0.607132,0.607132,0.0,1.054093,1.054093,1.054093,0.303566,0.607132,0.607132,0.516398,0.316228,0.483046,0.316228,0.0,0.0,0.0
min,18.000000,28000.000000,-1.360944e+00,0.000000,-1.000000,0.000000,1.0,-1.360944,-1.360944,-1.360944,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,-1.0
25%,27.750000,39500.000000,-8.148863e-01,0.157258,-0.685484,0.314516,1.0,-0.814886,-0.814886,-0.814886,0.157258,-0.685484,0.314516,0.000000,1.000000,0.000000,1.000000,0.0,0.0,-1.0
50%,39.500000,51000.000000,-1.568166e-01,0.346774,-0.306452,0.693548,1.0,-0.156817,-0.156817,-0.156817,0.346774,-0.306452,0.693548,0.000000,1.000000,0.000000,1.000000,0.0,0.0,-1.0
75%,53.000000,76750.000000,5.992635e-01,0.564516,0.129032,1.129032,1.0,0.599263,0.599263,0.599263,0.564516,0.129032,1.129032,1.000000,1.000000,0.750000,1.000000,0.0,0.0,-1.0
max,80.000000,200000.000000,2.111424e+00,1.000000,1.000000,2.000000,1.0,2.111424,2.111424,2.111424,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,0.0,0.0,-1.0

In [102]:
# Scalers for income
col = 'Income'
df2['std'] = s_scaler.fit_transform(df.loc[:,[col]])
df2['mm(0,1)'] = mm_scaler.fit_transform(df.loc[:,[col]])
df2['mm(-1,1)'] = mm1_scaler.fit_transform(df.loc[:,[col]])
df2['mm(0,2)'] = mm2_scaler.fit_transform(df.loc[:,[col]])
df2['bin'] = b_scaler.fit_transform(df.loc[:,[col]])

df2['std(mm)'] = s_scaler.fit_transform(mm_scaler.fit_transform(df.loc[:,[col]]))
df2['std(mm1)'] = s_scaler.fit_transform(mm1_scaler.fit_transform(df.loc[:,[col]]))
df2['std(mm2)'] = s_scaler.fit_transform(mm2_scaler.fit_transform(df.loc[:,[col]]))
df2['mm(std)'] = mm_scaler.fit_transform(s_scaler.fit_transform(df.loc[:,[col]]))
df2['mm1(std)'] = mm1_scaler.fit_transform(s_scaler.fit_transform(df.loc[:,[col]]))
df2['mm2(std)'] = mm2_scaler.fit_transform(s_scaler.fit_transform(df.loc[:,[col]]))
df2['bin(std)'] = b_scaler.fit_transform(s_scaler.fit_transform(df.loc[:,[col]]))
df2['bin(mm)'] = b_scaler.fit_transform(mm_scaler.fit_transform(df.loc[:,[col]]))
df2['bin(mm1)'] = b_scaler.fit_transform(mm1_scaler.fit_transform(df.loc[:,[col]]))
df2['bin(mm2)'] = b_scaler.fit_transform(mm2_scaler.fit_transform(df.loc[:,[col]]))
df2['std(bin)'] = s_scaler.fit_transform(b_scaler.fit_transform(df.loc[:,[col]]))
df2['mm(bin)'] = mm_scaler.fit_transform(b_scaler.fit_transform(df.loc[:,[col]]))
df2['mm1(bin)'] = mm1_scaler.fit_transform(b_scaler.fit_transform(df.loc[:,[col]]))

# Show statistics
df2.describe()

,Age,Income,std,"mm(0,1)","mm(-1,1)","mm(0,2)",bin,std(mm),std(mm1),std(mm2),mm(std),mm1(std),mm2(std),bin(std),bin(mm),bin(mm1),bin(mm2),std(bin),mm(bin),mm1(bin)
count,10.000000,10.000000,1.000000e+01,10.000000,10.000000,10.000000,10.0,10.000000,1.000000e+01,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.0,10.0,10.0
mean,42.300000,68100.000000,4.440892e-17,0.233140,-0.533721,0.466279,1.0,0.000000,-1.332268e-16,0.000000,0.233140,-0.533721,0.466279,0.300000,0.900000,0.100000,0.900000,0.0,0.0,-1.0
std,18.821087,50540.302949,1.054093e+00,0.293839,0.587678,0.587678,0.0,1.054093,1.054093e+00,1.054093,0.293839,0.587678,0.587678,0.483046,0.316228,0.316228,0.316228,0.0,0.0,0.0
min,18.000000,28000.000000,-8.363446e-01,0.000000,-1.000000,0.000000,1.0,-0.836345,-8.363446e-01,-0.836345,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,-1.0
25%,27.750000,39500.000000,-5.964952e-01,0.066860,-0.866279,0.133721,1.0,-0.596495,-5.964952e-01,-0.596495,0.066860,-0.866279,0.133721,0.000000,1.000000,0.000000,1.000000,0.0,0.0,-1.0
50%,39.500000,51000.000000,-3.566457e-01,0.133721,-0.732558,0.267442,1.0,-0.356646,-3.566457e-01,-0.356646,0.133721,-0.732558,0.267442,0.000000,1.000000,0.000000,1.000000,0.0,0.0,-1.0
75%,53.000000,76750.000000,1.804085e-01,0.283430,-0.433140,0.566860,1.0,0.180409,1.804085e-01,0.180409,0.283430,-0.433140,0.566860,0.750000,1.000000,0.000000,1.000000,0.0,0.0,-1.0
max,80.000000,200000.000000,2.750969e+00,1.000000,1.000000,2.000000,1.0,2.750969,2.750969e+00,2.750969,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,0.0,0.0,-1.0

In [103]:
# Scalers with other stuff
col = 'Income'
df3['std'] = s_scaler.fit_transform(df.loc[:,[col]])
df3['mm(0,1)'] = mm_scaler.fit_transform(df.loc[:,[col]])
df3['mm(-1,1)'] = mm1_scaler.fit_transform(df.loc[:,[col]])
df3['mm(0,2)'] = mm2_scaler.fit_transform(df.loc[:,[col]])
df3['bin'] = b_scaler.fit_transform(df.loc[:,[col]])

df3['x2'] = df.loc[:,[col]] * -2
df3['std(x2)'] = s_scaler.fit_transform(df.loc[:,[col]]*-2)
df3['mm(x2)'] = mm_scaler.fit_transform(df.loc[:,[col]]*-2)
df3['mm1(x2)'] = mm1_scaler.fit_transform(df.loc[:,[col]]*-2)
df3['mm2(x2)'] = mm2_scaler.fit_transform(df.loc[:,[col]]*-2)
df3['b(x2)'] = b_scaler.fit_transform(df.loc[:,[col]]*-2)

df3['cumsum'] = np.cumsum(df.loc[:,[col]])
df3['std(cumsum)'] = s_scaler.fit_transform(np.cumsum(df.loc[:,[col]]))
df3['mm(cumsum)'] = mm_scaler.fit_transform(np.cumsum(df.loc[:,[col]]))
df3['mm1(cumsum)'] = mm1_scaler.fit_transform(np.cumsum(df.loc[:,[col]]))
df3['mm2(cumsum)'] = mm2_scaler.fit_transform(np.cumsum(df.loc[:,[col]]))
df3['b(cumsum)'] = b_scaler.fit_transform(np.cumsum(df.loc[:,[col]]))


# Show statistics
df3.describe()

,Age,Income,std,"mm(0,1)","mm(-1,1)","mm(0,2)",bin,x2,std(x2),mm(x2),mm1(x2),mm2(x2),b(x2),cumsum,std(cumsum),mm(cumsum),mm1(cumsum),mm2(cumsum),b(cumsum)
count,10.000000,10.000000,1.000000e+01,10.000000,10.000000,10.000000,10.0,10.000000,1.000000e+01,10.000000,10.000000,10.000000,10.0,10.000000,1.000000e+01,10.000000,10.000000,10.000000,10.0
mean,42.300000,68100.000000,4.440892e-17,0.233140,-0.533721,0.466279,1.0,-136200.000000,-4.440892e-17,0.766860,0.533721,1.533721,0.0,263000.000000,-4.440892e-17,0.359877,-0.280245,0.719755,1.0
std,18.821087,50540.302949,1.054093e+00,0.293839,0.587678,0.587678,0.0,101080.605899,1.054093e+00,0.293839,0.587678,0.587678,0.0,206366.448608,1.054093e+00,0.316028,0.632057,0.632057,0.0
min,18.000000,28000.000000,-8.363446e-01,0.000000,-1.000000,0.000000,1.0,-400000.000000,-2.750969e+00,0.000000,-1.000000,0.000000,0.0,28000.000000,-1.200349e+00,0.000000,-1.000000,0.000000,1.0
25%,27.750000,39500.000000,-5.964952e-01,0.066860,-0.866279,0.133721,1.0,-153500.000000,-1.804085e-01,0.716570,0.433140,1.433140,0.0,111250.000000,-7.751190e-01,0.127489,-0.745023,0.254977,1.0
50%,39.500000,51000.000000,-3.566457e-01,0.133721,-0.732558,0.267442,1.0,-102000.000000,3.566457e-01,0.866279,0.732558,1.732558,0.0,216500.000000,-2.375159e-01,0.288668,-0.422665,0.577335,1.0
75%,53.000000,76750.000000,1.804085e-01,0.283430,-0.433140,0.566860,1.0,-79000.000000,5.964952e-01,0.933140,0.866279,1.866279,0.0,371000.000000,5.516497e-01,0.525268,0.050536,1.050536,1.0
max,80.000000,200000.000000,2.750969e+00,1.000000,1.000000,2.000000,1.0,-56000.000000,8.363446e-01,1.000000,1.000000,2.000000,0.0,681000.000000,2.135089e+00,1.000000,1.000000,2.000000,1.0